{% extends 'base.html' %}

{% block content %}


    <div class="text-center">
        <h2>There are our notes.</h2>
    </div>

    <hr>
    <div class="row">
        {% for note in notes %}
            <div class="col-12">
                {% include 'note_snippet.html' with note=note type='DELETE' %}
            </div>


        {% endfor %}
    </div>

    <div class="text-center">
        <h2>There are our fineshed notes.</h2>
    </div>
    <hr>
    <div class="row">
        {% for note in finished_list %}
            <div class="col-12">
                {% include 'note_snippet.html' with note=note type='ADD' %}
            </div>


        {% endfor %}
    </div>

{% endblock content %}



